<html>
    <head>
        <title>Available Rooms</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" href="{% static 'senior_des/roompage/css/door.css' %}" type='text/css'/>
        <link rel="stylesheet" href="{% static 'senior_des/roompage/css/door2.css' %}" type='text/css'/>
<!--
        {% load static %}
        <link rel="stylesheet" href="{% static 'senior_des/style.css'  %}" type="text/css">
-->
        <script>
            

            var array = (paintDoor, paint);
            function paintDoor( str ) {
                var image;
                //document.write(str);
                var room_arr = str.split(" ");      
                if (room_arr[5] == "not") { //this works
                    image = "red";
                }
                else if (room_arr[5] == "occupied") {
                    image = "green";
                }
                else {
                    document.write("should not get here");
                    image = "should not get here";
                }
                //document.write(image);
                document.getElementById('door').className = image;
                return image;
            }

            function paint() {
                document.getElementById('red').innerHTML = red; 
                document.write("HI");
                return "red";
            }
        </script>
    <head>
    <body>

        
        <center> <h1>Welcome</h1>
        Welcome! The following shows the available rooms.  

        <div class="container">
            <br> <br />


        <div class="col-md-4">
            <a href="/senior_des/home_page"><h2> Go to Our HomePage </h2></a>
        </div>


<!--            <form action="localhost:8000/">
                <input type="Home Page" vale="Go to Google" />
            </form>

            <button class="btn btn-primary" type="button" name="button">
                About Our Project Page
            </button>
-->
            <br />
            <br />
            
            
            {% block rooms %} 
                {% for room in rooms %}
                    <div id="door1">

                        <center> {{room}} </center>
                        <div id='door' class = 'green'>
                            

                            <img src="{% static 'senior_des/roompage/jpg/img_doors.jpg' %}" alt=""/>
                      
                        </div>
                    </div>

                    <script>
                            //document.write( "{{room}}" );
                            //paintDoor( "{{room}}" );
                            paintDoor("{{room}}");
                    </script>

                    <div id="door2">

                        <center> {{room}} </center>
                        <div id='door' class = 'green2'>
                            

                            <img src="{% static 'senior_des/roompage/jpg/img_doors.jpg' %}" alt=""/>
                      
                        </div>
                    </div>

                    <script>
                            //document.write( "{{room}}" );
                            //paintDoor( "{{room}}" );
                            paintDoor("{{room}}");
                    </script> 

                {% endfor %}

            {% endblock %}



            <br /> 
        </div>
    </body>
</html>
